**Instalação das Bibliotecas necessárias**

In [21]:
import pandas as pd
import sqlalchemy

In [22]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\jose\appdata\local\programs\python\python36\lib\site-packages (0.9.3)

You are using pip version 18.1, however version 19.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [9]:
python -m pip install --upgrade pip

SyntaxError: invalid syntax (<ipython-input-9-0a8cf7b99133>, line 1)

**Engine de Conexão ao Banco de Dados MYSQL**

Sintaxe:
engine = sqlalchemy.create_engine('mysql+drive://usuario:senha@ip-servidor:porta/banco-de-dados')

**Documentação do SQLAlchamy.**

https://docs.sqlalchemy.org/en/latest/core/engines.html

**Criando a Conexão**

In [32]:
engine = sqlalchemy.create_engine('mysql+pymysql://root@localhost:3306/drogaria',)

# Método: read_sql_table

**Paramêtros do método read_sql_table**

   * table_name - Nome da tabela onde será feita a leitura dos dados.
   * Con - Objeto conexão criado pelo SQLAlchamy.
   * Schema - Schema onde a tabela está armazenada.
   * Index_col = Coluna a ser definida como index.
   ...

**Lendo toda a tabela Funcionarios e transformando em DataFrame**

In [36]:
df = pd.read_sql_table('funcionarios', engine,index_col='id_funcionario')

**Listando os dados do banco de dados**

In [37]:
df.head()

                           cpf      funcao                  nome     senha
id_funcionario
2               460.457.928-82  Balconista           José Carlos  12345678
3               475.654.328-65  Balconista  Luis Felipe da Silva    123456

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 2 to 3
Data columns (total 4 columns):
cpf       2 non-null object
funcao    2 non-null object
nome      2 non-null object
senha     2 non-null object
dtypes: object(4)
memory usage: 80.0+ bytes

**Lendo apenas algumas colunas**

In [42]:
df = pd.read_sql_table('funcionarios', engine,index_col='id_funcionario', columns=['id_funcionario', 'cpf'])

In [43]:
df.head()

                           cpf
id_funcionario
2               460.457.928-82
3               475.654.328-65

# Método: read_sql_query

* **Sql** - String SQL Query que deverá ser executada para retornar o conjunto de dados.
* **Con** - Objeto de conexão criado pelo SQLAlchemy.
* **Index_co** - Coluna a ser definida como index. 
* **Params** - Lista de paramêtros para serem passados ao método.

**Criando um DataFrame apartir de uma query de banco de dados**

In [55]:
df = pd.read_sql_query("select * from funcionarios", engine, index_col='id_funcionario')

In [56]:
df.head()

                           cpf      funcao                  nome     senha
id_funcionario
2               460.457.928-82  Balconista           José Carlos  12345678
3               475.654.328-65  Balconista  Luis Felipe da Silva    123456

**Criando um dataframe apartir de uma query ligando várias tabelas**

In [59]:
query = '''
SELECT * FROM FUNCIONARIOS AS F
INNER JOIN VENDAS AS V ON (V.FUNCIONARIO_ID_FUNCIONARIO = F.ID_FUNCIONARIO)
'''

In [60]:
df = pd.read_sql_query(query,engine)

In [61]:
df

,id_funcionario,cpf,funcao,nome,senha,id_vendas,horario,valor_total,funcionario_id_funcionario
0,2,460.457.928-82,Balconista,José Carlos,12345678,1,2019-08-14,500.0,2

**Criando um DataFrame apartir de uma query utlizando paramêtros dinâmicos.**

In [62]:
query = 'SELECT * FROM FUNCIONARIOS WHERE ID_FUNCIONARIO = %s'

In [67]:
df = pd.read_sql_query(query, engine, params=[2])

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '= 2' at line 1")
[SQL: SELECT * FROM FUNCIONARIOSWHERE ID_FUNCIONARIO = %s]
[parameters: (2,)]
(Background on this error at: http://sqlalche.me/e/f405)