# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
print("Eu sou Minerador de Dados")

Eu sou Minerador de Dados

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
2+2
2-2
2*2
2/2

1.0

3) Imprima o tipo de um determinado valor inteiro.

In [3]:
print(type(1))

<class 'int'>

4) Converta o valor passado anteriormente para o tipo float

In [4]:
print(type(float(2)))

<class 'float'>

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [5]:
print(type(str(float(2))))

<class 'str'>

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [7]:
round(2.898)

3

In [8]:
round(2.4545455,4)

2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [20]:
nome = "jose"

In [21]:
print(type(nome))

<class 'str'>

In [22]:
nome = nome + "Carlos"
print (nome)

joseCarlos

In [23]:
email,idade = "josecarlos10967@gmail.com",20
print(email,idade)

josecarlos10967@gmail.com 20

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [ ]:
# Break é uma palavra reservado pelo python, por isso não pode utiliza-ça como variável

Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [25]:
idades = [20, 35, 40, 56, 70, 89]

In [26]:
idades[1]

35

In [31]:
len(idades)

6

In [33]:
idades[1] = len(idades)
idades

[20, 6, 40, 56, 70, 89]

In [34]:
idades[1:]

[6, 40, 56, 70, 89]

In [38]:
idades.pop()

89

In [49]:
salarios = [900, 1200, 1500, 800, 12587, 10000]

In [50]:
salarios.count(10000)

1

In [51]:
print(max(salarios))
min(salarios)

12587

800

In [53]:
salarios.append(7000)

In [54]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [55]:
salarios.extend([50000,75000])

In [56]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 50000, 75000]

In [57]:
salarios.index(800)

3

In [59]:
salarios.sort()
salarios

[800, 900, 1200, 1500, 7000, 10000, 12587, 50000, 75000]

In [60]:
salarios.reverse()
salarios

[75000, 50000, 12587, 10000, 7000, 1500, 1200, 900, 800]