# Técnicas de processamento de Dados - Discretização

***Importando a biblioteca pandas***

In [1]:
import pandas as pd

***Conjuntos de dados de exemplo***

In [2]:
altura = [1.50, 1.57, 1.62, 1.70, 1.85, 1.90]

***Aplicando a discretização em 3 bins de tamanho igual e com labels P, M e G***

In [4]:
altura = pd.qcut(altura,3,labels=['P','M','G'])

In [6]:
print(altura)

[P, P, M, M, G, G]
Categories (3, object): [P < M < G]

***Verificado a quantidade de objetos em cada bin***

In [7]:
altura.value_counts()

P    2
M    2
G    2
dtype: int64

***Lendo a base de dados***

In [8]:
dataset = pd.read_csv('materiais-apoio/kc_house_data.csv')

***Contando o número de pisos***

In [9]:
dataset['floors'].value_counts()

1.0    10679
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

***Discretizando os valores do atributo floors e armazenamento o resultado no atributos floors_labels***

In [10]:
dataset['floors_labels'] = pd.cut(
    dataset['floors'], 5, 
    labels=['Muito-Pequeno','Pequeno',
            'Medio', 'Grande',
            'Muito-Grande']
)

***Verificando o novo atributo***

In [16]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,floors_labels
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,Muito-Pequeno
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,Pequeno
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,Muito-Pequeno
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,Muito-Pequeno
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,Muito-Pequeno

In [18]:
dataset['floors_labels'].unique()

[Muito-Pequeno, Pequeno, NaN, Grande, Medio, Muito-Grande]
Categories (5, object): [Muito-Pequeno < Pequeno < Medio < Grande < Muito-Grande]

***Contagem de valores em cada bin ou categoria***

In [20]:
dataset['floors_labels'].value_counts()

Muito-Pequeno    12589
Pequeno           8241
Grande             613
Medio              161
Muito-Grande         8
Name: floors_labels, dtype: int64